.question-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.question-card{
  border: 1px solid green;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.question {
  font-size: 11px;
  font-weight: bold;
}
.answer{
  font-size: 12px;
  font-weight: bold;
  color: green;
}